/* loginregister.module.css */
@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button,
fieldset,
input {
  all: unset;
}

.TabsRoot {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #1c1e2e;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.TabsList {
  flex-shrink: 0;
  display: flex;
}

.TabsTrigger {
  font-family: inherit;
  background-color: transparent;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  color: #d1d9ff;
  user-select: none;
}

.TabsTrigger:hover {
  color: #88d2ff;
  cursor: pointer;
}

.TabsTrigger[data-state='active'] {
  color: #88d2ff;
  box-shadow: inset 0 -2px 0 0 currentColor, 0 1px 0 0 currentColor;
}

.TabsContent {
  flex-grow: 1;
  padding: 20px;
  background-color: #1c1e2e;
  outline: none;
}

.Text {
  margin: 20px 0;
  color: #d1d9ff;
  font-size: 15px;
  line-height: 1.5;
}


.Fieldset {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.Label {
  font-size: 13px;
  line-height: 1;
  margin-bottom: 10px;
  color: #d1d9ff;
  display: block;
}

.Input {
  flex: 1 0 auto;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 35px;
  transition: border-color 0.3s;
}
.Input:focus {
  border-color: #88d2ff;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  font-family: 'Roboto', sans-serif;
  background: #414663;
  color: #fff;
  border: 1px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  margin: 0 0 auto auto;
}

.Button:hover {
  background-color: #6bc1f9;
  cursor: pointer;
}

.Button:focus {
  box-shadow: 0 0 0 2px #88d2ff;
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}