.listsContainer {
  overflow-wrap: break-word;
  height: calc(100vh - 68px);
  width: 100%;
  overflow-y: auto;
}

.trackerHeader{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.list{
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.trackerTitle{
  font-size: 1.3rem;
}