.itemCard{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  /* padding: 0.2rem; */
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.itemCard:hover{
  cursor: pointer;
  background-color: #f8f5f5;
  transform: scale(1.02);
}