.itemCard{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  padding: 0.4rem;
}

.itemCardHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
  align-self: flex-start;
}

.itemCard:hover{
  cursor: pointer;
  background-color: #f8f5f5;
}

.editIcon{
  padding: 4px;
}
.editIcon:hover{
  background-color: rgba(195, 118, 250, 0.164);
  border-radius: 50%;
}

